/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');
@font-face {
    font-family: 'The Youngest';
    src: local('The Youngest Serif Display'), local('The-Youngest-Serif-Display'),
        url('TYSerif-D.woff2') format('woff2'),
        url('TYSerif-D.woff') format('woff'),
        url('TYSerif-D.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
/* Changing the main font and background colour */

body {
	font-family: 'Fira Sans';
	font-weight: 300;
	font-size: 15px;
	background-color: #fffcf8;
}

/* Changing the background colour for the header */

header {
	font-family: 'Phudu';
	background-color: #0ACC96;
}
h1{
	font-family: 'Phudu';
	font-weight: 700;
	font-size: 60px;
	padding: 10px;
}
h2{
	font-family: 'Phudu';
	font-weight: 600;
	font-size: 40px;
	padding: 15px;
}
h3{
	font-family: 'Phudu';
	font-weight: 500;
	font-size: 30;
}
h4{
	font-family: 'Phudu';
	font-weight: 500;
	font-size: 25px;
}
h5{
	font-family: 'The Youngest';
	font-weight: 400;
	font-size: 20px;
}
h6{
	font-family: 'The Youngest';
	font-weight: 500;
	font-size: 18px;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}
.footer{
	background-color: #373737;
}
.container{
	color: ghostwhite;
}
/* Corporate navbar */
.dropdown-item{
	font-family: 'Phudu';
	font-weight: 500;
	font-size: 15px;
	color: #373737;
}
.dropdown-menu{
	background-color: ghostwhite;
}

/* Changing the background color for the navigation bar */
.navbar{
	background-color: #92F9DD;
}
.nav-link {
	font-family: 'Phudu';
	font-weight: 500;
	font-size: 15px;
	color: #373737;
}
.nav-link:hover{
	font-family: 'Phudu';
	font-weight: 500;
	font-size: 15px;
	color: #AC87FF !important;
}

.menu{
	color: #373737;
}
.menu:hover{
	color: #0ACC96;
}
/* classes */ 
.btn {
	font-family: 'Phudu';
	font-size: 15px;
	padding: 2px;
}
.image {
	wide: 30%;
	height: 30%;
	object-fit50px: contain;
}
.background{
	background-color: #DED0FF;
}
.boxleft{
	background-color: #458573;
	color: ghostwhite;
	padding: 5%;
}
.boxright{
	padding: 2%;
	background-color: ghostwhite;
	color: #373737;
}
.boxone{
	background-color: #6DB39F
}
.valueimage{
	object-fit: cover;
	wide: 140px;
	height: 150px;
}
.btn{
	background-color: clear;
	border-width: thick;
	border-color: ghostwhite;
	color: ghostwhite;
	padding: 5px;
}
.btn:hover {
	background-color: ghostwhite;
	color: #373737;
}

.invest {
	background-color: #0ACC96 !important;
	color: ghostwhite !important;
	padding: 2px !important;
}
.reward{
	border-bottom-color: #AC87FF !important;
}

.titles {
	background-color: ghostwhite !important;
	color: #373737
}

a{
	color: #5B4D7B;
}
th{
	color: #373737 !important;
}
td,tr{
	color: ghostwhite !important;
}

/* Style for the image container */
		.img-container {
			position: relative;
			
		}

		/* Style for the image popup */
		.img-popup {
			display: none;
			position: absolute;
			top: 100%;
			left: 50%;
			transform: translate(-50%, 10px);
			z-index: 1;
			padding: 10px;
			background-color: #fff;
			box-shadow: 0px 0px 5px #999;
			border-radius: 5px;
			text-align: center;
		}

		/* Style for the image when hovered */
		.img-container:hover .img-popup {
			display: block;
		}
.img-thumbnail{
	height: 100%;
	width: 45%;
}
.marketingimage{
	height: 50%;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
}
.marketingtop{
	height: 50%;
	width: 100%;
	padding-top: 15px;
}
.marketingbottom{
	height: 50%;
	width: 100%;
	padding-bottom: 15px;
}
.row{
	padding-top: 15px;
	padding-bottom: 15px;
}
.logoimage{
	height: 100%;
	width: 20%;
	background-color: white;
}
.logoimages{
	height: 100%;
	width: 35%;
	background-color: white;
}